h1 {
    text-align: center;
    font-family: 'Lato black';
    color: #4014AF;
    font-size: 22pt;
    margin-top: 9px;
    margin-bottom: 5px;
}

h2 {
    text-align: center;
    font-family: 'Lato black';
    color: #FFFFFF;
    font-size: 20pt;
    margin-top: 7px;
    margin-bottom: 7px;
}
#precision{
    font-size:10pt;
    font-weight: bold;
}
.container {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}

#header {
    background-color: #FFF700;
    border: 3px solid black;
    margin-bottom: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#upheader {
    width: 700px;
    height: 90px;
    text-align: center;
    overflow: hidden;
}

.upheader_text{
    display: inline-block;
    font-family: 'Lato italic';
    color: #A0A0A0;
    margin-top: 47px;
    font-size: 15px;
}

.logo_alpen{
    float: left;
    opacity: 0.8;
    transform: scale(0.8, 0.8);
}

.logo_client{
    float: right;
    opacity: 0.8;
    transform: scale(0.8, 0.8);
}

#body {
    border: 2px solid black;
}

.subtitle {
    font-size: 10pt;
    text-align: center;
    font-style: italic;
    font-family: 'Lato italic';
    color: #4014AF;
    margin-bottom: 10px;
}

.subtitle::before {
    content: "(";
}

.subtitle::after {
    content: ")";
}

.title_level_2 {
    background-color: #8383F2;
    border: 1px solid black;
}

.Item_and_his_value {
    display: flex;
    justify-content: center;
    font-family: 'Lato regular';
}

.item {
    width: 181px;
    text-align: right;
    border: 1px solid black;
}

.item_text {
    margin-right: 7.5pt;
    font-size: 12pt;
    padding-top: 11.155px;
    padding-bottom: 11.155px;
}

.widget {
    border: 1px solid black;
    font-family: 'Lato regular';
}

.container2 {
    text-align: right;
    border: 1px solid black;
}

.leftside {
    float: left;
    width: 95px;
    height: 105px;
}

.rightside {
    float: right;
    width: 95px;
    height: 105px;

}
.slidebar {
    display: inline-table;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 500px;
    height: 85px;
    text-align: center;
    position: relative;
}

.slidebar_title {
    text-align: center;
    display: inline-block;
    font-size: 14px;
}

#performance_index {
    width: 520px;
    text-align: center;
    border: 1px solid black;
    padding-top: 2pt;
    padding-bottom: 2pt;
    font-size: 12pt;
}

.slider-range {
    width: 100%;
    display: inline-block;
}

.input_intervals {
    font-size: 11.5px;
}

#calculation_button {
    text-align: center;
    margin-top: 10px;
}

#return_button {
    text-align: center;
    margin-top: 10px;
}

.radiobutton {
     display:flex; 
    
}

.radiobutton .ui-controlgroup {
    display: block;
    margin: 10px;
}

#performance_index-button {
    border-style: solid;
    padding: 5px 5px 5px 5px;
}

.ui-controlgroup.ui-controlgroup-horizontal.ui-helper-clearfix {
    border-width: 0px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.value-bar {
    position: absolute;
    background: #4014AF;
    width: 1px;
    border: none;
    height: 30px;
    top: 46px;
    z-index: 3;
}

.value-hint {
    position: absolute;
    margin-top: 10px;
    color: #4014AF;
    margin-left: -13px;
    font-family: 'Lato regular'
}

#button_container {
    margin-top: 5px;
    text-align: center;
}

#button_container button {
    margin-bottom: 5px;
}

.radiobutton span.ui-checkboxradio-icon {
    display: none;
}

img.info_logo {
    vertical-align: top;
    cursor: pointer;
    width: 20px;
    margin: -1px 5px 0px -3px;
}

@font-face {
    font-family: 'Lato black';
    src: url('font/Lato-Black.ttf');
}

@font-face {
    font-family: 'Lato regular';
    src: url('font/Lato-Regular.ttf');
}

@font-face {
    font-family: 'Lato bold';
    src: url('font/Lato-Bold.ttf');
}

@font-face {
    font-family: 'Lato italic';
    src: url('font/Lato-Italic.ttf');
}

.links {
    width: 588.5px;
    height: 15px;
    margin: 0 auto;
    color: black;
    text-align: center;
    }

footer {
    font-family: 'Lato regular';
    font-size: 12px;
    padding: 4px;
    text-align: center;
    }

span:hover {
    color: blue;
}