h1 {
    text-align: center;
    font-family: 'Lato black';
    color: #4014AF;
    font-size: 22pt;
    margin-top: 9px;
    margin-bottom: 5px;
}

body {
    margin-left: auto;
    margin-right: auto;
    width:715px;
}

#link {
    font-family: 'Lato black';
    color: black;
    text-align: center;
}

#link:hover {
    color: blue;
}

#header {
    background-color: #FFF700;
    border: 3px solid black;
    width: 715px;
    margin-bottom: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-image: url("images/at.png");
    background-repeat: no-repeat;
    background-position: 97%;
}

.parameter_selection
{
    text-align: center;
    padding: 3px 0px 3px 0px;
    border: none;
}

#additional_info {
    width: 715px;
    display: flex;
}

.part_information {
    border: 1px solid black;
    margin-right: 185px;
}

.Item_and_his_value {
    display: flex;
    font-family: 'Lato regular';
    font-size: 11pt;
}

.item {
    width: 112px;
    border: 1px solid black;
    padding: 0px 5px 0px 5px;
}

#part_number {
    margin-top: 8px;
    margin-bottom: 8px;
}

#performance_label {
    height:22px;
    text-align: center;
}

.value {
    border: 1px solid black;
    width: 70px;
    text-align: center;
}

.subtitle {
    font-size: 10pt;
    text-align: center;
    font-style: italic;
    font-family: 'Lato black';
    color: #4014AF;
    margin-bottom: 10px;
}

.subtitle::before {
    content: "(";
}

.subtitle::after {
    content: ")";
}

#overall {
    margin-top: 50px;
    margin-left: 45px;
    width: 608px;
}

#grandcercle {
    border-radius: 50%;
    width: 600px;
    height: 600px;
    border: 4px solid #000000;
}

#moyencercle {
    border-radius: 50%;
    width: 475px;
    height: 475px;
    border: 4px solid #000000;
    margin: 58.5px 58.5px;
    @
}

#petitcercle {
    border-radius: 50%;
    width: 350px;
    height: 350px;
    border: 4px solid #000000;
    margin: 58.5px 58.5px;
}

#axe_abscisses {
    width: 700px;
    border-top: 5px #000000 solid;
    margin-top: 171px;
    margin-left: -175px;
}

#axe_ordonnées {
    height: 700px;
    border-right: 5px #000000 solid;
    margin-top: -350px;
    margin-right: 171px;
}

#homepage_button {
    text-align: center;
    margin-top: 10px;
}

#print_button {
    text-align: center;
    margin-top: 10px;
}

#back_button {
    text-align: center;
    margin-top: 10px;
}

#label_abscisses {
    font-family: 'Lato black';
    color: #000000;
    font-size: 15px;
    margin-left: 665px;
    margin-top: -295px;
}

#label_ordonnées {
    font-family: 'Lato black';
    color: #000000;
    text-align: center;
    font-size: 15px;
    margin-left: 115px;
    margin-top: 330px;
}

.ui-button.ui-widget.ui-corner-all {
    padding: 7px 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    border-radius: 4px;
    border: 1px solid #c5c5c5;
    background: #f6f6f6;
    font-weight: normal;
}

#button_container {
    margin-top: 5px;
    text-align: center;
}

#button_container button {
    margin-bottom: 5px;
}

.performance_index {
    font-size:11pt;
    font-family: 'Lato regular';
    border: 1px solid black;  
    width:252px;
}

@font-face {
    font-family: 'Lato black';
    src: url('font/Lato-Black.ttf');
}

@font-face {
    font-family: 'Lato regular';
    src: url('font/Lato-Regular.ttf');
}