#benco_selector {
	display: inline-block;
    width: 100px
}

#BENCO_header {
    font-family: Lato;
    font-weight: 800;
	color: #808080;
	font-size: 30px;
}

#POC_selector {
	width: 100px;
	height: 10px;
	background: #7fb12c;
	}

#language {
	display: inline-block;
	width: 425px;
}

.language_icon {
	display: inline-block;
	float: right;
	padding-left: 5px;
	width: 15px;
	height: 10px;
}

.left {
	display: inline-block;
	width: 100px;
	height: 275px;
	background: #ffffff;
	}

.logo_alpentech {
	width: 95px;
	height: 74px;
	padding-left: 5px;
	margin-bottom: -22px;
	}

.right {
	display: inline-block;
	}

.back {
	width: 425px;
	height: 275px;
	background-image: url("images/background.png");
	background-size: 425px 275px;
	}

.Item_and_his_value {
	width: 285px;
	height: 20px;
	float: right;
	margin-bottom: 10px;
	}

.item {
	width: 120px;
	height: 15px;
	display: inline-block;
	background-color: #8282f2;
	}

.item_text {
	font-family: Lato;
    font-style: italic;
	color: #ffffff;
	font-size: 12px;
	letter-spacing: 0.05em;
	text-align: center;
	opacity: 1;
	}

.value {
	display: inline-block;
	}

#client_society_name{
	width: 120px;
	height: 15px;
	}

#upload_button {
	width: 120px;
	height: 15px;
	}

#colorpicker {
	width: 120px;
	height: 15px;
	}

#client_trigramme{
	width: 120px;
	height: 15px;
	}

#BENCO_OMC {
 	display: inline-table;
	background: #8383F2;
	width: 283px;
	height: 40px;
	}

.h1 {
	font-family: Lato; 
	color: #ffffff;
	font-size: 20px;
	font-weight: normal;
	text-align: center;
	}

.subtitle {
	font-family: Lato;
	color: #ffffff;
	font-size: 8px;
	font-weight: lighter;
	text-align: center;
	margin-bottom: 0px;
	margin-top: : 0px;
	margin-left: : 0px;
	margin-right: : 0px;
	}

#BUTTON {
	margin-left: -4px;
	display: inline-table;
	background: #8383F2;
	width: 142px;
	height: 40px;
	}

#start_button{
	background:url("images/Start_button_released.png") no-repeat;
	background-size: 130px 30px;
	cursor:pointer;
	border:none;
	width: 130px;
	height: 30px;
	float: right;
	margin-bottom: -12px;
	}

.copyright {
	width: 425px;
	height: 40px;
	background-color: #909090
	}

p {
	font-family: Arial Narrow;
	font-size: 8px;
	line-height: 140%;
	text-align: center;
	letter-spacing: 0.06em;
	padding: 4px;
	}

.links {
	display: inline-block;
	width: 525px;
	height: 10px;
	}

footer {
	font-family: Arial Narrow;
	font-size: 8px;
	text-align: right;
	letter-spacing: 0.06em;
	padding: 4px;
	}


