body {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}

h1 {
    text-align: center;
    font-family: 'Lato black';
    color: #4014AF;
    font-size: 22pt;
    margin-top: 9px;
    margin-bottom: 5px;
}

#about {
    font-family: 'Lato black';
    color: black;
    margin-left:  44%;
}

#about:hover {
    color: blue;
}

#overall {
    margin-top: 20px;
    margin-left: 45px;
    width: 608px;
}

#header {
    background-color: #FFF700;
    border: 3px solid black;
    width: 800px;
    background-image: url("images/at.png");
    background-repeat: no-repeat;
    background-position: 9%;
}

.subtitle {
    font-size: 10pt;
    text-align: center;
    font-style: italic;
    font-family: 'Lato italic';
    color: #4014AF;
    margin-bottom: 10px;
}

.subtitle::before {
    content: "(";
}

.subtitle::after {
    content: ")";
}

.performance_index {
    width: 100px;
    margin-left: 530px;
    margin-top:  20px;
}

.parameter_selection
{
    text-align: center;
    padding: 3px 5px 3px 5px;
    border: 1px solid black;
    box-shadow: 2px 2px 4px 0px;
}

#performance_index_select {
    text-align: center;
}

#repere {
    width: 700px;
    height: 500px;
    border-left: 5px #000000 solid;
    border-bottom: 5px #000000 solid;
}

#bottom_buttons {
    text-align: center;
    margin-top: 40px;
    width: 800px;
}

#fleche_abscisses {
    width: 0;
    height: 0;
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent;
    border-left: 30px solid black;
    margin-left: 705px;
    margin-top: -20.5px;
}

#label_abscisses {
    font-family: 'Lato black';
    color: #000000;
    font-size: 15px;
    margin-left: 670px;
    margin-top: 10px;
    width: 400px;
}

#zero_abscisses {
    font-family: 'Lato regular';
    color: #000000;
    font-size: 22px;
    margin-top: -44px;
}

#fleche_ordonnees {
    width: 0;
    height: 0;
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    border-bottom: 30px solid black;
    margin-left: -15.5px;
}

#label_ordonnees {
    font-family: 'Lato black';
    color: #000000;
    font-size: 15px;
    margin-bottom: 15px;
    margin-left: -40px;
}

#zero_ordonnees {
    font-family: 'Lato regular';
    color: #000000;
    font-size: 22px;
    margin-top: -51px;
    margin-left: -17px;
}

#bottom_buttons .ui-button.ui-widget.ui-corner-all {
    padding: 7px 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    border-radius: 4px;
    border: 1px solid #c5c5c5;
    background: #f6f6f6;
    font-weight: normal;
}

@font-face {
    font-family: 'Lato black';
    src: url('font/Lato-Black.ttf');
}

@font-face {
    font-family: 'Lato regular';
    src: url('font/Lato-Regular.ttf');
}

@font-face {
    font-family: 'Lato italic';
    src: url('font/Lato-Italic.ttf');
}