
#overall
{
	margin-left: 100px;
    margin-top: 60px;
    margin-bottom: 60px;
}

#axe_abscisses
{
    width: 500px;
    border: 10px solid #000000;
    margin-top: -40px;
    margin-left: -42.5px;
    border-radius: 10px;
}

#axe_ordonnees
{
    height: 500px;
    width: 0px;
    border: 10px solid #000000;
    margin-top: -270px;
    margin-left: 210px;
    border-radius: 10px;
}

#grand_cercle
{
  border-radius:50%;
  width:400px;
  height:400px;
  border:20px solid #000000; 
}

#petit_cercle
{
    border-radius: 50%;
    width: 25px;
    height: 25px;
    border: 20px solid #000000;
    background-color: #000000;
    margin-top: -252.5px;
    margin-left: 187.5px;
}


.arc_haut_1
{
    width: 150px;
    height: 150px;
    border-radius: 100% 0 0;
    border-top: 20px solid #000000;
    border-left: 20px solid #000000;
    margin-top: 30px;
    margin-left: 30px;
 }

.arc_haut_2
{
    width: 100px;
    height: 100px;
    border-radius: 100% 0 0;
    border-top: 20px solid #000000;
    border-left: 20px solid #000000;
    margin-top: 30px;
    margin-left: 30px;
 }

 .arc_haut_3
{
    width: 50px;
    height: 50px;
    border-radius: 100% 0 0;
    border-top: 20px solid #000000;
    border-left: 20px solid #000000;
    margin-top: 30px;
    margin-left: 30px;
 }

 .arc_bas_1
{
    width: 150px;
    height: 150px;
    border-radius: 0 0 100%;
    border-right: 20px solid #000000;
    border-bottom: 20px solid #000000;
    margin-left: 200px;
 }

  .arc_bas_2
{
    width: 100px;
    height: 100px;
    border-radius: 0 0 100%;
    border-right: 20px solid #000000;
    border-bottom: 20px solid #000000;
 }

  .arc_bas_3
{
    width: 50px;
    height: 50px;
    border-radius: 0 0 100%;
    border-right: 20px solid #000000;
    border-bottom: 20px solid #000000;
 }